body {
    background-color: #000;
    font-family: sans-serif;
}
.container {
    width: 360px;
    background-color: #fff;
    margin:0 auto;
    margin-top: 30px;
    text-align: center;
    padding: 8px;
    box-shadow: 0px 0px 74px 2px rgba(255,255,255,0.62);
}
h1 {
    font-size: 40px;
    color: rgb(16, 174, 174);
    text-decoration: underline rgb(3, 138, 138);

}
#inp {
    outline: none;
    border: 2px solid rgb(22, 181, 181);
    border-radius: 3px;
    padding: 5px;
}
#inp::placeholder {
    font-weight: bold;
}
.taskBtn {
    background-color: rgb(22, 181, 181);
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid rgb(3, 138, 138);
}
#list li {
    background-color: #000;
    color: #fff;
    position: relative;
    text-align: left;
    padding: 5px;
    margin: 15px;
}
#list i {
    position:absolute ;
    right: 10px;
    cursor: pointer;    
    /* gap: 10px; */
}